
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Saira:wght@500&display=swap');



* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

li,a{
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color:black;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}

.logo{
    /* cursor:pointer; */
    margin-bottom: 2%;
}


.nav__links{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__links li{
    display:inline-block;
    position: relative;
    color: black;
    /* padding: 0px 20px; */
    margin: 10px;
}

.nav__links li ::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    display:inline-block;
    position: relative;
    color: black;
    /* padding: 0px 20px; */
}

@media (max-width: 768px){
    .nav__links{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.nav__links li :hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.top-right{
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color:white;
    padding: 9px 25px;
    background-color: rgba(72, 166, 242, 1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* margin-bottom: 25%; */
    margin-bottom: 50px;
    margin-top: 20px;
}

.top-right:hover {
    background-color: rgba(72, 166, 242, 0.8);
}

.hero-button{
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color:white;
    padding: 9px 25px;
    background-color: #48a6f2;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* margin-bottom: 25%; */
    margin-bottom: 100px;
    margin-left: 5vw;
}

.hero-button:hover {
    background-color: #48a6f2cc;
}


.banner {
    /* The image used */
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.5) 10%, rgba(0,0,0, 0.80 ) 95%),
    url(images/home_title.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    
  }

h1{
    font-size: 100px;
    color:white;
    max-width: 800px;
    margin-top: 100px;
    margin-bottom: 25px;
    margin-left: 5vw;
    text-transform: uppercase;
}
h5{
    font-size: 28px;
    color:white;
    /* position: fixed; */
    position: relative;
    /* top: 1vw; */
    bottom: 5vw;
    left: 70vw;
    max-width: 400px;
    text-align: right;
    text-transform: uppercase;
}

.who-we-are-img{
    position: relative;
    height: auto;
    top: 5vw;
}

.who-we-are-txt{
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-size: 2vw;
    bottom: 4vw;
    position: relative;
    right: 28vw;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.who-we-are-txt::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: 2px solid #48a6f2cc;
}


.our-detailing-services{
    font-family: "Saira", sans-serif;
    font-weight: 550;
    font-size: 2.5vw;
    left: 0%;
    text-align: center;
    top: 8vw;
    bottom: 0vw;
    position: relative;
    /* text-align: center; */
    
    text-transform: uppercase;
    padding-bottom: 5px;
}
.our-detailing-services::before{
    content: "";
    position: absolute;
    width: 10%;
    height: 0px;
    bottom: 0vw;
    align-content: center;
    left: 40%;
    border-bottom: 2px solid #48a6f2cc;
}

.section-team{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    justify-items: center;
    align-content: center;
    margin: 20px;
    align-content: space-between;
}

.section-row1{
    display: flex;
    margin-top: 12%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    justify-items: center;
    width: 100%;
}

.interior-image{
    width: 100%;
    height: 75%;
    border-radius: 16px;
    
}
.exterior-image{
    width: 100%;
    height: 75%;
    border-radius: 16px;
    
}
.specialty-image{
    width: 100%;
    height: 75%;
    border-radius: 16px;
    
}

.team1, .team2, .team3{
    width: 25%;
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    padding: 20px;
    border-radius: 16px;
    background-color: rgba(203, 203, 203, 0.4);
    background: linear-gradient(50%,50%);
   
}


.services-section{
    background-color: #e1e0e0;
    padding: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.meet-team {
    /* The image used */
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.5) 10%, rgba(0,0,0, 0.80 ) 95%),
    url(images/team-banner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

.meet-team h1{
    font-size: 100px;
    color:white;
    max-width: 80vw;
    margin-top: 100px;
    margin-bottom: 25px;
    margin-left: 5vw;
    text-transform: uppercase;
}
.services-banner {
    /* The image used */
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.5) 10%, rgba(0,0,0, 0.80 ) 95%),
    url(images/Car-Detailing-Services.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

.services-row1{
    display: flex;
    margin-top: 12%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    justify-items: center;
    width: 100%;
}

.tier-blue{
    width: 25%;
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    padding: 20px;
    border-radius: 16px;
    /* background-color: #48a6f2cc; */
    background: linear-gradient(50%,50%);
    border-radius: 25px 25px 0px 0px;
    height: 400px; /* Adjust the height as needed */
    background-color: #48a6f2cc; /* Blue color for the top section */
    background-image: linear-gradient(to bottom, #48a6f2cc 40%, #d0cfcf 0%); /* Gradient from 20% to bottom with gray color */
    background-repeat: no-repeat;
}
.tier-orange{
    width: 25%;
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    padding: 20px;
    border-radius: 16px;
    /* background-color: #FC8955; */
    background: linear-gradient(50%,50%);
    border-radius: 25px 25px 0px 0px;
    height: 400px; /* Adjust the height as needed */
    background-color: #FC8955; /* Blue color for the top section */
    background-image: linear-gradient(to bottom, #FC8955 40%, #d0cfcf 0%); /* Gradient from 20% to bottom with gray color */
    background-repeat: no-repeat;

}

.services-tiers{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    justify-items: center;
    align-content: center;
    margin: 10px;
    align-content: space-between;
  }



.services h2{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    justify-items: center;
    align-content: center;
    margin: 10px;
    align-content: space-between;
}

.tier-name{
    font-size: 2vw;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
}

.tier-description{
    color: #585A5B;
    font-family: "Poppins";
    margin-top: 2vw;
    line-height: 1.8;
    font-size: 1vw;
}

.starting-from{
    color: white;
    font-weight: 500;
    margin-top: 4%;
    line-height: 1;
}

.prices{
    font-size: 2.8vw;
    font-family: "Poppins";
    font-weight: 600;
    color: white;
    margin-bottom: 0%;
}

/* 
.image-container{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center;
}

.image-container img{
    width: 100%;
    height:auto;
    max-width: 20vw;
    margin: 5vw;
    
}
.image-container h5{
    position: relative;
    text-align: center;
    max-width: 5vw;
    margin: 5vw;
    color: black;
} */ 


/* .hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/home_title.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
  } */



/* h1{
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;

    position: absolute;
    width: 838px;
    height: 401px;
    left: 81px;
    top: 200px;

    line-height: 115.9%;
    /* or 111px */

    /* text-transform: uppercase;
    

} */


/* p{
    
    position: absolute;
    width: 500px;
    height: 20px;
    left: 950px;
    top: 400px;
    font-weight: 600;
    font-size: 32px;
    
    font-family: "Saira", sans-serif;

    
    line-height: 115.9%;
    /* or 37px */

    /* text-align: right;
    text-transform: uppercase;
} */ 


/* .top-right{
    margin-top: 20px;
    font-size: 20px;
    font-family: "Saira", sans-serif;
    margin-bottom: 20px;

} */

/* .hero-text book-button{
    padding: 9px 25px;
    background-color: rgba(72, 166, 242, 1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 25%;
    display: inline-block;
} */